@import './fonts/fonts.css';

body { 
    font-weight: bold;
    margin: 0;
    color: #c1bdb3;
}

input {
    color: #c1bdb3;
}

* { font-family: OpenSans, 'Times New Roman'; }
pre, code { font-family: "Go Mono", monospace; }

